@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Campus Guide Blues  */
  --cg-blue-50: #e8e6ea;
  --cg-blue-75: #a096a8;
  --cg-blue-100: #796b85;
  --cg-blue-200: #3f2b50;
  --cg-blue-300: #18002c;
  --cg-blue-400: #11001f;
  --cg-blue-500: #0f001b;

  /* Campus Guide Purple  */
  --cg-purple-50: #f3e6fe;
  --cg-purple-75: #cd96fa;
  --cg-purple-100: #b86bf7;
  --cg-purple-200: #992bf4;
  --cg-purple-300: #6b00f0;
  --cg-purple-400: #5c00a9;
  --cg-purlpe-500: #510094;

  /* Campus Guide Yellow  */
  --cg-yellow-50: #fffbf2;
  --cg-yellow-75: #fff0c8;
  --cg-yellow-100: #ffeab2;
  --cg-yellow-200: #ffe091;
  --cg-yellow-300: #ffda7a;
  --cg-yellow-400: #b39955;
  --cg-yellow-500: #9c854a;

  /* State Color */
  --cg-info: #4949ff;
  --cg-success: #4cc94c;
  --cg-error: #ff4343;
  --cg-warning: #eeee27;

  --font-size-primary-h1: calc(
    8rem + (55 - 53) * ((100vw - 280px) / (1920 - 280))
  );
  --font-size-primary-h2: calc(
    5.625rem + (55 - 53) * ((100vw - 280px) / (1920 - 280))
  );

  /* --font-size-primary-h3: calc(rem + (17 - 15) * ((100vw - 280px) / (1920 - 280)));
  --font-size-primary-h4: calc(rem + (17 - 15) * ((100vw - 280px) / (1920 - 280)));
  --font-size-primary-h5: calc(rem + (17 - 15) * ((100vw - 280px) / (1920 - 280)));
  --font-size-primary-p1: calc(1.125rem + (19 - 17) * ((100vw - 280px) / (1920 - 280)));
  --font-size-primary-p2: calc(1.25rem + (21 - 19) * ((100vw - 280px) / (1920 - 280)));
  --font-size-primary-p3: calc(1.5rem + (25 - 23) * ((100vw - 280px) / (1920 - 280)));
  --font-size-primary-p4: calc(1.875rem + (31 - 29) * ((100vw - 280px) / (1920 - 280))); */

  --line-height-primary-h1: 9.38rem;
  --line-height-primary-h2: 9.4rem;

  /* --line-height-primary-h3: 1.5em;
  --line-height-primary-h4: 1.5em;
  --line-height-primary-h5: 1.5em;
  --line-height-primary-p1: 1.5em;
  --line-height-primary-p2: 1.5em;
  --line-height-primary-p3: 1.333em;
  --line-height-primary-p4: 1.3em; */

  --font-size-secondary-h1: 6rem;
  --font-size-secondary-h2: 4rem;

  /* --font-size-secondary-h3: calc(rem + (17 - 15) * ((100vw - 280px) / (1920 - 280)));
  --font-size-secondary-h4: calc(rem + (17 - 15) * ((100vw - 280px) / (1920 - 280)));
  --font-size-secondary-h5: calc(rem + (17 - 15) * ((100vw - 280px) / (1920 - 280)));
  --font-size-secondary-p1: calc(1.125rem + (19 - 17) * ((100vw - 280px) / (1920 - 280)));
  --font-size-secondary-p2: calc(1.25rem + (21 - 19) * ((100vw - 280px) / (1920 - 280)));
  --font-size-secondary-p3: calc(1.5rem + (25 - 23) * ((100vw - 280px) / (1920 - 280)));
  --font-size-secondary-p4: calc(1.875rem + (31 - 29) * ((100vw - 280px) / (1920 - 280))); */

  --line-height-secondary-h1: 7.48rem;
  --line-height-secondary-h2: 5.985rem;

  /* --line-height-secondary-h3: 1.5em;
  --line-height-secondary-h4: 1.5em;
  --line-height-secondary-h5: 1.5em;
  --line-height-secondary-p1: 1.5em;
  --line-height-secondary-p2: 1.5em;
  --line-height-secondary-p3: 1.333em;
  --line-height-secondary-p4: 1.3em; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  font-family: var(--font-work-sans);
  font-size: 16px;
  min-width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
