@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Campus Guide Blues  */
  --cg-blue-50: #e8e6ea;
  --cg-blue-75: #a096a8;
  --cg-blue-100: #796b85;
  --cg-blue-200: #3f2b50;
  --cg-blue-300: #18002c;
  --cg-blue-400: #11001f;
  --cg-blue-500: #0f001b;

  /* Campus Guide Purple  */
  --cg-purple-50: #f3e6fe;
  --cg-purple-75: #cd96fa;
  --cg-purple-100: #b86bf7;
  --cg-purple-200: #992bf4;
  --cg-purple-300: #8400F2;
  --cg-purple-400: #5c00a9;
  --cg-purlpe-500: #510094;

  /* Campus Guide Yellow  */
  --cg-yellow-50: #fffbf2;
  --cg-yellow-75: #fff0c8;
  --cg-yellow-100: #ffeab2;
  --cg-yellow-200: #ffe091;
  --cg-yellow-300: #ffda7a;
  --cg-yellow-400: #b39955;
  --cg-yellow-500: #9c854a;

  /* State Color */
  --cg-info: #4949ff;
  --cg-success: #4cc94c;
  --cg-error: #ff4343;
  --cg-warning: #eeee27;
  --cg-white:#EFEEF3;
  --cg-white-dark:#F4F6F8;


  --font-size-primary-h1: 8rem;
  --font-size-primary-h2: 5.62rem;
  --font-size-primary-h3: 4rem;
  --font-size-primary-h4: 2.81rem;
  --font-size-primary-h5: 2rem;
  --font-size-primary-p1: 1.438rem;
  --font-size-primary-p2: 1rem;
  --font-size-primary-p3: 0.75rem;
  --font-size-primary-p4: 0.5rem;

  --line-height-primary-h1: 9.38rem;
  --line-height-primary-h2: 6.598rem;
  --line-height-primary-h3: 4.69rem;
  --line-height-primary-h4: 3.29rem;
  --line-height-primary-h5: 2.5rem;
  --line-height-primary-p1: 1.68rem;
  --line-height-primary-p2: 1.5em;
  --line-height-primary-p3: 0.88rem;
  --line-height-primary-p4: 0.58em;


  --font-size-secondary-h1: 5.9375rem;
  --font-size-secondary-h2: 6.33rem;
  --font-size-secondary-h3: 3.81rem;
  --font-size-secondary-h4: 4.08rem;
  --font-size-secondary-h5: 2.43rem;
  --font-size-secondary-p1: 1.9375rem;
  --font-size-secondary-p2: 1.5625rem; 
  --font-size-secondary-p3: 1.25rem; 
  --font-size-secondary-p4: 1rem; 

  --line-height-secondary-h1: 7.48rem;
  --line-height-secondary-h2: 6.0468rem;
  --line-height-secondary-h3: 4.80rem;
  --line-height-secondary-h4: 3.86em;
  --line-height-secondary-h5: 2.44em;
  --line-height-secondary-p1: 1.9375rem;
  --line-height-secondary-p2: 1.5625em;
  --line-height-secondary-p3: 1.575em;
  --line-height-secondary-p4: 1.68rem;

  --font-work-sans: 'Work Sans', sans-serif;
  --font-sora: 'Sora', sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  font-family: var(--font-work-sans);
  font-size: 16px;
  min-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .map-control-icon{
    @apply h-4 w-4;
  }
  .btn{
    @apply md:py-4 md:px-6 py-2.5 px-4 rounded-full ;
  }

  .sidebar-style{
    @apply border-2 border-solid border-cg-blue-200;
  }

  .modal-overlay {
    @apply fixed inset-0 flex backdrop-blur-sm z-50 w-screen h-screen items-center justify-center p-4 transition duration-300 ease-out data-[closed]:opacity-0;
  }
}